<div class="page-wrapper" tabindex="-1" role="main">
    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    {% if page.title and page.title != '' and page.layout != 'home' and page.layout != 'cover' and page.no_title != true %}
                        <h1 id="{{ page.id | default: page.title | slugify }}">{{ page.title | escape }}</h1>
                        {% endif %}

                    {{ content }}
                </section>
            </div>

            {%- include search.html -%}
        </div>
    </div>
</div>

<!-- introduce mathjax support -->
{% include mathjax.html %}

<!-- introduce per-page mermaid support -->
{% if page.mermaid %}
    {% include mermaid.html %}
{% endif %}

<!-- introduce mathjax support -->
{% include fixes-chrome-anchors.html %}
