<div class="page-wrapper" tabindex="-1" role="main">
    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    {% if page.title and page.title != '' and page.layout != 'home' and page.layout != 'cover' and page.no_title != true %}
                        <h1 id="{{ page.id | default: page.title | slugify }}">{{ page.title | escape }}</h1>
                        {% endif %}

                    {{ content }}
                    
                    {%- assign lang_code = page.lang | default: page.language -%}
{%- if lang_code == nil or lang_code == '' -%}
  {%- assign parts = page.path | split:'/' -%}
  {%- assign lang_code = parts[1] | default: site.lang | default: 'en' -%}
{%- endif -%}

{%- capture cited_block -%}
  {% bibliography --cited %}
{%- endcapture -%}

{%- assign cited_trim = cited_block | strip_newlines | strip -%}
{%- if cited_trim contains '<li' -%}
  <h2 id="references">
    {{ site.data.i18n[lang_code].references | default: "References" }}
  </h2>
  {{ cited_block }}
{%- endif -%}

                </section>
            </div>

            {%- include search.html -%}
        </div>
    </div>
</div>

<!-- introduce mathjax support -->
{% include mathjax.html %}

<!-- introduce per-page mermaid support -->
{% if page.mermaid %}
    {% include mermaid.html %}
{% endif %}

<!-- introduce mathjax support -->
{% include fixes-chrome-anchors.html %}
