<div class="book-summary">
  <script type="text/javascript">
    function pageScrollToTop(element) {
      $('div.body-inner').animate({ scrollTop: 0 });
      $(element).parent().find('li>ul>li').removeClass('active');
      return true;
    }

    function mobilePageScrollToAnchor(element) {
      $(element).closest('li.chapter').find('ul>li').removeClass('active');
      $(element).parent().addClass('active');
      if ($(document).width() <= 1240) {
        let target = $($(element).attr('href'));
        if (target.length) {
          $('div.body-inner').animate({
            scrollTop: target.get(0).offsetTop,
          });
        }
      }
      return true;
    }
  </script>

  <nav role="navigation">
    <div id="book-search-input" role="search">
      <input type="text" placeholder="Type to search" />
    </div>
    <div id="book-search-input-link" role="search">
      <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
    </div>

    <ul class="summary">

{%- assign last_segment = page.url | split: '/' | last -%}
{%- assign current_lang = "ca" -%}
{%- if last_segment == "en" or last_segment == "ca" -%}
  {%- assign current_lang = last_segment -%}
{%- endif -%}

{%- assign filtered_chapters = site.chapters | where: "lang", current_lang -%}



      {%- if page.url == "/index.html" or page.url == "/" -%}
        <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
      {%- else -%}
        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
      {%- endif -%}
        <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
          {{ site.title | escape }}
        </a>
        {% if site.toc.enabled and site.toc.enabled_index %}
          {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
        {% endif %}
      </li>

      <li class="divider"></li>

      {% for post in filtered_chapters %}
        {% if page.url == post.url %}
          <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
        {% else %}
          <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
        {% endif %}
            <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
              {{ post.title | escape }}
            </a>
            {% if site.toc.enabled and page.url == post.url %}
              {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
            {% endif %}
          </li>
      {% endfor %}

      {% if filtered_chapters.size > 0 %}
        <li class="divider"></li>
      {% endif %}
    </ul>
  </nav>
</div>

