<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Reveal.js Styles -->
  <link rel="stylesheet" href="{{ "/assets/reveal.js/dist/reveal.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/reveal.js/dist/theme/black.css" | relative_url }}">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      {% assign slides = content | split: ";;;" %}
      {% for slide in slides %}
        {% assign sub_slides = slide | split: "+++" %}
        <section>
          {% for sub_slide in sub_slides %}
            <section data-markdown>
              <script type="text/template">
{{ sub_slide | strip }}
              </script>
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </div>
  </div>

<!-- Reveal.js Scripts -->
<script src="{{ "/assets/reveal.js/dist/reveal.js" | relative_url }}"></script>
<script src="{{ "/assets/reveal.js/plugin/markdown/markdown.js" | relative_url }}"></script>

<!-- Initialize Reveal.js -->
<script>
  Reveal.initialize({
    plugins: [ RevealMarkdown ],
    markdown: {
      smartypants: true
    },
    transition: "slide",
    hash: true
  });
</script>


</body>
</html>

